
<div class="m-4">
  <button type="button" class="btn btn-success" routerLink="/users/new">
    Add new user
  </button>
</div>

<form #formFilters="ngForm" (ngSubmit)="applyFilters()">
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">E-mail</th>
      <th scope="col"></th>
    </tr>

    <tr>
      <td></td>
      <td>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="filters.lastName" name="lastName">
        </div>
      </td>
      <td></td>
      <td>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="filters.email" name="email">
        </div>
      </td>
      <td>
        <button type="submit" class="btn btn-success">
          Search
        </button>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.lastName }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/users/edit', user.id]">
          Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</form>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li *ngIf="prevLink !== null" class="page-item">
      <a class="page-link" (click)="loadPreviousPage()">
        Previous
      </a>
    </li>

    <li *ngFor="let page of getPageNumbers" class="page-item">
      <a class="page-link" (click)="loadPageByNumber(page)">{{ page }}</a>
    </li>

    <li *ngIf="nextLink !== null" class="page-item">
      <a class="page-link" (click)="loadNextPage()">
        Next
      </a>
    </li>
  </ul>
</nav>
