<form *ngIf="garage" #garageForm="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">name</label>
    <input type="text"
           class="form-control"
           id="name"
           aria-describedby="nameHelp"
           [(ngModel)]="garage.name"
           name="name"
    >
    <small id="nameHelp" class="form-text text-muted">Enter here the name of the garage.</small>
    <small *ngFor="let err of retrieveErrors('name')" class="form-text text-danger">{{ err }}</small>
  </div>

  <div class="form-group">
    <label for="postal-code">postal code</label>
    <input type="text"
           class="form-control"
           id="postal-code"
           aria-describedby="postalCodeHelp"
           [(ngModel)]="garage.postalCode"
           name="postalCode"
    >
    <small id="postalCodeHelp" class="form-text text-muted">Enter here the postal code of the garage.</small>
    <small *ngFor="let err of retrieveErrors('postalCode')" class="form-text text-danger">{{ err }}</small>
  </div>

  <div class="form-group">
    <label for="owner">owner</label>
    <input type="owner"
           class="form-control"
           id="owner"
           aria-describedby="ownerHelp"
           [(ngModel)]="garage.owner"
           name="owner"
    >
    <small id="ownerHelp" class="form-text text-muted">Enter here the owner of the garage.</small>
    <small *ngFor="let err of retrieveErrors('owner')" class="form-text text-danger">{{ err }}</small>
  </div>

  <button  type="submit" class="btn btn-success">Save the garage</button>
</form>
